<section class="section">
  <div class="inner">
    <div id="setAlarm" style="display: none;">
      <select id="morningnight" title="오전/오후 설정">
        <option value="오전" selected="selected">오전</option>
        <option value="오후">오후</option>
      </select>
      <select id="hour" title="시 설정">
        <option value="01" selected="selected">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select id="minute" title="분 설정">
        <option value="00" selected="selected">00</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
      <button type="button" class="btn" id="btn-save">저장</button>
    </div>
    <div id="listAlarm"></div>
  </div>
</section>
